.main {
    /*height: 100vh;*/
    /*background-color: #1f1f20;*/
    display: flex;
    justify-content: center;
    padding: 100px 0;
}

.container {
    width: 80%;
    /*border: 1px solid;*/
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.greeting {
    display: flex;
    flex-direction: column;
}

.greeting span:nth-child(1) {
    font-size: 20px;
}

.greeting span:nth-child(2),
.greeting span:nth-child(2) span {
    font-size: 50px;
    font-weight: 700;
    font-stretch: normal;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.2;
    letter-spacing: 5px;
    position: relative;
    z-index: 0;
}

.greeting span:nth-child(2) span:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 20px;
    background-color: #ea548d;
    bottom: 0;
    z-index: -1;
}

.greeting a {
    cursor: pointer;
    text-decoration: none;
    color: #ea548d;
}


.downloadCV {
    font-size: x-large;
    position: relative;
    z-index: 5;
}

.downloadCV a:hover {
    font-weight: bold;
    font-size: medium;
}

h1 {
    font-size: 27px;
    margin: 0;
}

.photo {
    margin-top: 50px;
    position: relative;
    z-index: 1;
}

.photo:hover {
    transform: scale(1.1, 1.1);
    transition: 500ms;
}

.image {
    height: 400px;
    width: 300px;
    /*background-color: #f2f2f2;*/
    background-image: url("./img/IMG_0212.jpg");
    background-size: cover;
}

.photo .image:before {
    content: "";
    position: absolute;
    height: 430px;
    width: 300px;
    border: 2px solid #ea548d;
    left: 15px;
    top: -15px;
    z-index: -1;
}

@media screen and (max-width: 1100px) {
    .main {
        /*margin-bottom: 150px;*/
    }
}

@media screen and (max-width: 750px) {
    .container {
        text-align: center;
    }

    .greeting span:nth-child(2) span:before {
        content: none;
    }
}

@media screen and (max-width: 600px) {
    .image {
        height: 360px;
        width: 260px;
    }

    .photo .image:before {
        height: 100%;
        width: 100%;
    }
}

@media screen and (max-width: 400px) {
    .photo .image:before {
        content: none;
    }

    .greeting span:nth-child(2) span {
        font-size: 40px;
    }
}

@media screen and (max-width: 300px) {
    .main {
        padding: 80px 0 0 0;
    }
}
