.slogan {
    background-color: #252527;
    display: flex;
    justify-content: center;
    position: relative;
}

.container {
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 100px 0;
}

.btnShow {
    padding: 8px 30px;
    max-width: 180px;
    border: none;
    align-items: center;
    justify-content: center;
    align-self: center;
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0 0 15px;
    outline: none;
    color: white;
    position: relative;
    z-index: 1;
}

.btnShow::after {
    content: "";
    position: absolute;
    width: 50%;
    height: 10px;
    background: #e9548d;
    bottom: 0;
    z-index: -1;
    transition: all 0.2s ease-in-out;
}

.btnShow:hover {
    color: white;
    text-decoration: none;
}

.btnShow:hover::after {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 400px) {
    .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .blockTitle {
        text-align: center;
    }
}
